<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>
<body>
	<h1>Available tags</h1>
	<table class="table table-striped">
		<tr>
			<th>which one do you want to add?</th>
		</tr>
		<tr th:each="tag : ${projectTags}">
			<td th:text="${tag.name}"></td>
			<td>
				<a 
				th:href="@{/projects/{id_project}/info/task/{id_task}/tag/{id_tag}/add(id_project=${currentProject.id},id_task=${currentTask.id},id_tag=${tag.id})}" >Add this
				</a>
			</td>
		</tr>
		<tr>
			<td><a href="/home">Back</a></td>
		</tr>
	</table>

</body>