<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>
<body>
	<h1>Projects</h1>
	<table class="table table-striped">
		<tr>
			<th>All registered project are here</th>
		</tr>
		<tr th:each="project : ${allProjects}">
			<td th:text="${project.name}"></td>
			<td><a th:href="@{/admin/project/{id}/delete(id=${project.id})}">Delete</a></td>
		</tr>
		<tr>
			<td><a href="/admin">Back</a></td>
		</tr>
	</table>

</body>