<!DOCTYPE html>
<html lang="en" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>
<body>
	<h1>Users:</h1>
	<table class="table table-striped">
		<tr>
			<th>All registered user is here</th>
		</tr>
		<tr th:each="userCred : ${allCreds}">
			<td th:text="${userCred.userName}"></td>
			<td><a th:href="@{/admin/user/{id}/delete(id=${userCred.id})}">Delete</a></td>
		</tr>
		<tr>
			<td><a href="/admin">Back</a></td>
		</tr>
	</table>

</body>