<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>
	<h1 th:text="'Welcome, Master ' + ${user.firstName} + '!'"></h1>
	<h4>
		<a href="/admin/user">Show every user</a>
	</h4>
	<h4>
		<a href="/admin/project">Show every project</a>
	</h4>
</body>
</html>