<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>

<body>
	<h4>Assign Task</h4>

	<table class="table table-striped" border=1>

		<tr>
			<td th:text="Members "></td>
		</tr>
		<tr th:each="projectMember : ${projectMemberList}">
			<td th:text="${projectMember.firstName}"></td>
			<td><a
				th:href="@{/projects/{id_project}/info/task/{id_task}/assign/{id_user}(id_project=${currentProject.id},id_task=${currentTask.id},id_user=${projectMember.id})}">Select</a></td>
		</tr>
	</table>

</body>
</html>