<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>
<body>
	<h1>Owned Project</h1>
	<table class="table table-striped">
		<tr>
			<th>My projects:</th>
		</tr>
		<tr th:each="ownedProject : ${ownedProjects}">
			<td th:text="${ownedProject.name}"></td>
			<td><a th:href="@{/projects/{id}/info(id=${ownedProject.id})}">Info</a></td>
			<td><a th:href="@{/projects/{id}/delete(id=${ownedProject.id})}">Delete</a></td>
		</tr>
		<tr>
			<td><a href="/home">Back</a></td>
		</tr>
	</table>

</body>