<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>

<body>
	<h4>Project Details</h4>
    <table>
        <tr>
            <td>Name</td>
            <td th:text="${currentProject.name}">...</td>
        </tr>
    </table>
    <h4><a th:href="@{/projects/{id_project}/info/update(id_project=${currentProject.id})}">Update your project Name</a></h4>
	<table class="table table-striped" border=1>

		<tr>
			<td th:text="Members "></td>
			<td><a th:href="@{/projects/{id_project}/info/members/add(id_project=${currentProject.id})}">add member</a></td>
		</tr>
		<tr th:each="projectMember : ${projectMemberList}">
			<td th:text="${projectMember.firstName}"></td>
			<td><a
				th:href="@{/projects/{id_project}/info/members/{id_member}/delete(id_project=${currentProject.id},id_member=${projectMember.id})}">Delete</a></td>
		</tr>
		<tr >
			<td th:text="Tasks "></td>
			<td> <a th:href="@{/projects/{id_project}/info/tasks/add(id_project=${currentProject.id})}">add task</a> </td>
			</tr>
		<tr th:each="projectTask : ${projectTaskList}">
			<td th:text="${projectTask.name}"></td>
			<td><a th:href="@{/projects/{id_project}/info/tasks/{id_task}/details(id_project=${currentProject.id},id_task=${projectTask.id})}">Info</a></td>
			<td><a th:href="@{/projects/{id_project}/info/tasks/{id_task}/delete(id_project=${currentProject.id},id_task=${projectTask.id})}">Delete</a></td>
		</tr>
		<tr >
			<td th:text="Tags "></td>
			<td> <a th:href="@{/projects/{id_project}/info/tags/add(id_project=${currentProject.id})}">add tag</a> </td>
			</tr>
		<tr th:each="projectTag : ${projectTagList}">
			<td th:text="${projectTag.name}"></td>
			<td><a th:href="@{/projects/{id_project}/info/tags/{id_tag}/delete(id_project=${currentProject.id},id_tag=${projectTag.id})}">Delete</a></td>
		</tr>
	</table>

</body>
</html>