<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>

<body>
	<h4>Project Details</h4>

	<!-- 
<h1 th:text="'Project ' + ${currentProject.name} + ' by ' + {currentProject.owner}"></h1>
<h3 th:text="'Created at ' + ${currentProject.creationDate} "></h3>
-->
	<table class="table table-striped" border=1>

		<tr>
			<td th:text="Owner"></td>
		</tr>
		<tr>
			<td th:text="${projectOwner.firstName}"></td>
		</tr>
		<tr>
			<td th:text="Members"></td>
		</tr>
		<tr th:each="projectMember : ${projectMemberList}">
			<td th:text="${projectMember.firstName}"></td>
		</tr>
		<tr >
			<td th:text="Tasks"></td>
			</tr>
		<tr th:each="projectTask : ${projectTaskList}">
			<td th:text="${projectTask.name}"></td>
			<td><a th:href="@{/shared/{id_project}/info/tasks/{id_task}/details(id_project=${currentProject.id},id_task=${projectTask.id})}">Info</a></td>
		</tr>
		<tr >
			<td th:text="Tags"></td>
			</tr>
		<tr th:each="projectTag : ${projectTagList}">
			<td th:text="${projectTag.name}"></td>
		</tr>
	</table>

</body>
</html>