<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>

<body>
<h1>Task Detail</h1>
    <table>
        <tr>
            <td>Name</td>
            <td th:text="${currentTask.name}">...</td>
        </tr>
        <tr>
            <td>Description</td>
            <td th:text="${currentTask.description}">...</td>
        </tr>
    </table>
    <h4>_____________________________________________</a></h4>

	<table class="table table-striped" border=1>

		<tr>
			<td th:text="Assigned"></td>
		</tr>
		<tr>
			<td th:text="${currentTask.assignedTo?.firstName}"></td>
		</tr>
		<tr >
			<td th:text="Tags"></td>
			</tr>
		<tr th:each="tag : ${tagList}">
			<td th:text="${tag.name}"></td>
		</tr>
		<tr >
			<td th:text="Comments"></td>
			<td> <a th:href="@{/projects/{id_project}/info/task/{id_task}/comment/add(id_project=${currentProject.id},id_task=${currentTask.id})}">add comment</a> </td>
			</tr>
		<tr th:each="comment : ${commentsList}">
			<td th:text="${comment.description}"></td>
		</tr>
	</table>

</body>
</html>