<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>TaskManager</title>
</head>

<body>
<h1>Shared Project</h1>
<table class="table table-striped">
        <tr>
            <th>Shared with me: </th>
        </tr>
        <tr th:each="sharedProject : ${sharedProjects}">
            <td th:text="${sharedProject.name}"></td>
            <td><a th:href="@{/shared/projects/{id}/info(id=${sharedProject.id})}">Info</a></td>
        </tr>
    </table>
   
</body>
</html>