<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>TaskManager</title>
</head>
<body>
<h1>Task removed!</h1>
<h2>Back to <a th:href="@{/projects/owned}">Owned</a></h2>

</body>
</html>